<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>/* 文章页H1-H6图标样式效果 */
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 1.6s linear infinite;
    animation: ccc 1.6s linear infinite;
}

#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: #49b1f5;
    -webkit-animation: ccc 3.2s linear infinite;
    animation: ccc 3.2s linear infinite;
}

/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite;
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 博主昵称颜色 */
/* .author-info__name {
    color: #49b1f5;
} */

/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */
#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

/* 评论区代码块 */
.v[data-class=v] code {
    color: #c7254e;
    background-color: #F9F2F4;
}

/* 设置评论框 */
.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}

/* 取消回复聊天框 */
.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}

/* 顶部导航栏 */
/* #nav a {
    color: #6dc8db;
} */

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #3995a8;
}

/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
/* .footer_custom_text {
    color: #3995a8;
} */

/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/* 鼠标样式 */
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}

a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

/* 阿里云svg图标使用 */
svg.icon {
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@font-face {
    /* 字体名自定义即可 */
    font-family: 'YouYuan';
    /* 字体文件路径 */
    src: url('/fonts/YouYuan.ttf');
    font-display: swap;
}
a#site-name {
    font-family: 'YouYuan', sans-serif;
}
/* div.author-info__name {
    font-family: 'YouYuan', sans-serif;
} */
#aside-content .author-info__name {
    font-family: 'YouYuan', sans-serif;
}
/* div.author-info__description {
    font-family: 'YouYuan', sans-serif;
} */
#aside-content .author-info__description {
    font-family: 'YouYuan', sans-serif;
}


@font-face {
    /* 字体名自定义即可 */
    font-family: 'KuaiLe';
    /* 字体文件路径 */
    src: url('/fonts/KuaiLe.ttf');
    font-display: swap;
}
h1#site-title {
    font-family: 'KuaiLe', sans-serif;
}
#page-header #site-title{
    font-size: 4em;
}
span#subtitle {
    font-family: 'KuaiLe', sans-serif;
}
#page-header #site-subtitle{
    font-size: 1.9em;
}

@font-face {
    /* 字体名自定义即可 */
    font-family: 'JetBrains';
    /* 字体文件路径 */
    src: url('/fonts/JetBrains.ttf');
    font-display: swap;
}
code {
    font-family: 'JetBrains', monospace;
}